@charset "utf-8";

$color-main: #D94350;
$color-white: #fff;

$breakpoints: (
    "xmin": "screen and (min-width: 320px)",
    ) !default;

@mixin mq($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@mixin inner($w: (1100/1280)*100%, $mw: 2000px) {
    width: min($w, $mw
    );
margin-left: auto;
margin-right: auto;
}

@mixin flex($a: center, $j: space-between) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $j;
    align-items: $a;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.header {
    width: 100%;
    height: 105px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-white;
    position: fixed;
    top: 0;

    &__back {
        width: 80%;
        height: 105px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $color-white;
        border-bottom: $color-main 5px solid;
        position: fixed;
        top: 0;
    }

    &__title {
        font-size: 16px;
        font-family: "Laila", serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        padding-top: 50px;
    }
}

.header-mypage {
    width: 100%;
    height: 250px;
    background-color: $color-main;
    position: fixed;
    top: 0;

    &__inner {
        margin-top: 107px;
        @include inner();
        @include flex();
    }

    &-element {
        padding-right: 100px;
    }

    &-text {
        margin-bottom: 26px;
    }

    &-link {
        font-size: 12px;
        color: #000;
    }
}

.main {
    padding-top: 155px;

    &__inner {
        @include inner();
    }

    &__element {
        margin-top: 180px;
        margin-bottom: 166px;
        max-width: 157px;
        margin-left: auto;
        margin-right: auto;

        &-title {
            font-size: 16px;
            font-family: "Laila", serif;
            font-weight: 400;
            font-style: normal;
            text-align: center;
            margin-bottom: 20px;
        }
    }

    &__btn {
        max-width: 284px;
        margin-left: auto;
        margin-right: auto;

        &-register {
            width: 284px;
            height: 35px;
            margin-bottom: 20px;
            border-radius: 10px;
            border: none;
            font-size: 16px;
            background-color: $color-main;

            a {
                display: block;
                color: $color-white;
            }
        }

        &-login {
            width: 284px;
            height: 35px;
            border-radius: 10px;
            border: #999999 1px solid;
            font-size: 16px;
            background-color: $color-white;

            a {
                display: block;
                color: #000;
            }
        }
    }

    //register.php
    &__title {
        margin-top: 50px;
        margin-bottom: 50px;
        @include flex();
        justify-content: left;

        &-text {
            margin-left: 9px;
            font-size: 24px;
            font-weight: bold;
        }
    }

    &__form {
        width: 297px;
        height: 185px;
        margin-left: auto;

        &-list {
            @include flex();
            margin-bottom: 30px;
        }

        &-input {
            width: 242px;
            height: 35px;
            border-radius: 10px;
            border: 1px $color-main solid;
            padding-left: 15px;
            font-size: 18px;
        }

        &-number {
            margin-left: auto;
            margin-right: 8px;
            color: $color-main;
            font-size: 12px;
        }

        &-btn {
            width: 127px;
            height: 40px;
            color: $color-white;
            background-color: $color-main;
            border: none;
            border-radius: 10px;
            transform: translateX(50%);

            a {
                font-size: 20px;
                color: $color-white;
            }
        }

    }

    &_btn {
        @include flex();

        &-fashion {
            cursor: pointer;
            width: 159px;
            height: 35px;
            color: $color-white;
            background-color: $color-main;
            border: none;
            border-radius: 10px;
        }

        &-magazine {
            cursor: pointer;
            width: 159px;
            height: 35px;
            color: #000;
            background-color: $color-white;
            border: 1px $color-main solid;
            border-radius: 10px;
        }
    }

    &__fasshion {

        &-individual {
            padding: 10px 0;
            border-bottom: #000 1px solid;

            a {
                color: #000;
            }
        }
    }

    &__magazine {
        display: none;

        &-individual {
            padding: 10px 0;
            border-bottom: #000 1px solid;

            a {
                color: #000;
            }
        }
    }

    //registration
    &__registration {
        @include flex();

        &-nonetext {
            font-size: 16px;
            font-weight: normal;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 200px;
        }
    }

    &__registrationpage {
        text-align: center;
        max-width: 243px;
        margin-left: auto;
        margin-right: auto;

        &-text {
            display: inline-block;
            margin-bottom: 44px;
        }

        &-img {
            display: inline-block;
        }

        &-batu {
            display: inline-block;
            margin-top: 84px;
        }
    }

    //mypage
    &__mypage {
        margin-top: 130px;

        &-favorite {
            @include flex();
            max-width: 150px;
            color: #000;
            cursor: pointer;

            &-list {
                display: none;
                width: 100%;
            }
        }

        &-setting {
            margin-top: 15px;

            a {
                color: #000;
            }
        }
    }

    //item
    &__item {
        &-img {
            width: 100%;
            max-width: 335px;
        }

        &-details {
            margin-top: 30px;
            margin-bottom: 20px;
            @include flex();
            width: 100%;

            &-price {
                padding-left: 100px;
            }
        }

        &-selection {
            @include flex();
            max-width: 140px;
            border: #000 1px solid;
            padding: 8px 13px;
            margin-bottom: 20px;
            position: relative;
            cursor: pointer;

            &-list {
                background-color: $color-white;
                position: absolute;
                top: 353px;
                width: 140px;
                border: 1px #000 solid;
                font-size: 12px;
                display: none;

                ul {
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }

                li {
                    padding: 5px 0;

                    a {
                        color: #000;
                    }
                }

                &-li {
                    border-bottom: #999 1px solid;
                }
            }
        }

        &-form {
            &-textarea {
                width: 100%;
                height: 100px;
            }
        }

        &-btn {
            margin-top: 20px;
            width: 100%;
            @include flex();

            &-cancel {
                width: 135px;
                height: 40px;
                border-radius: 10px;
                border: $color-main 1px solid;
                font-size: 16px;
                background-color: $color-white;

                a {
                    display: block;
                    color: #000;
                }
            }

            &-recording {
                width: 135px;
                height: 40px;
                border-radius: 10px;
                border: none;
                font-size: 16px;
                background-color: $color-main;

                a {
                    display: block;
                    color: $color-white;
                }
            }
        }

    }
}




.footer {
    width: 100%;
    height: 133px;
    background-color: $color-white;
    border-top: $color-main 5px solid;
    position: fixed;
    bottom: 0;

    &__inner {
        margin-top: 20px;
        @include inner();
        @include flex();
    }

    &__list {
        width: 80px;
        text-align: center;

        &-img {
            display: inline-block;
            margin-bottom: 7px;
        }

        &-name {
            color: #5C2B15;
        }
    }
}